<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tasks</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>{{title}}</h1>
    {% for task in tasks %}
    <ol>
    {% for key, value in task.items() %}
    <div>
      <span class="key">{{ key | capitalize }}: </span>
      <span class="value">{{ value | capitalize }}</span>
    </div>
    {% endfor %}
    </ol>
    {% endfor %} 
   <h3><b>Create a task here!</b></h3>
  <form action="/submit" method="post">
    <input type="text" name="category" placeholder="Category">
    <input type="text" name="description" placeholder="Description">
    <button type="submit">Submit</button>
  </form>
</body>
</html>